@page
@model IndexModel
@{
    ViewData["Title"] = "Maps Demo";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p> Search </p>
            <div class="frmSearch">
                <input type="text" id="search-box" placeholder="" />
                <div id="suggestion-box"></div>
                <input type="submit" id="submit" />
            </div>
        </div>
        <div class="col-md-6">
            <p> Map </p>
            <div id="map"></div>
        </div>
    </div>
</div>
